<div class="px-[.9375rem] portItem basis-full md:basis-1/2 lg:basis-1/3 w-full md:w-1/2 lg:w-1/3 art">
    <div
        class="portBox darkShadow group relative rounded-[10px] md:rounded-[1.25rem] overflow-hidden w-full before:absolute before:bg-purple before:inset-0 before:opacity-0 before:z-[1] hover:before:opacity-90 mt-[1.875rem]">
        <img class="w-full" src="assets/images/resources/works/1.svg" alt="Project Managment Illustration"
            loading="lazy">
        <div class="portInfo absolute inset-0 z-[1]">
            <span
                class="bg-primary text-white text-[14px] py-[3px] px-[10px] rounded-b-[.9375rem] left-5 absolute -top-[1.875rem] group-hover:top-0 opacity-0 group-hover:opacity-100 z-10">Art</span>
            <h3
                class="px-5 text-white text-xl leading-tight font-bold top-[3.75rem] absolute left-0 translate-y-[1.875rem] group-hover:translate-y-0 opacity-0 group-hover:opacity-100">
                Project Managment Illustration</h3>
            <a class="rounded-circle bg-primary2 text-xl leading-none inline-flex items-center justify-center h-10 w-10 absolute left-5 bottom-5 hover:bg-primary text-white rounded-full opacity-0 group-hover:opacity-100 cursor-pointer"
                data-src="assets/images/resources/works/1.svg" data-caption="Project Managment Illustration"
                data-fancybox title="Project Managment Illustration"><i class="icon-magnifier-add"></i></a>
        </div><!-- Portfolio Info -->
    </div><!-- Portfolio Box -->
</div>
<div class="px-[.9375rem] portItem basis-full md:basis-1/2 lg:basis-1/3 w-full md:w-1/2 lg:w-1/3 creative design">
    <div
        class="portBox darkShadow group relative rounded-[10px] md:rounded-[1.25rem] overflow-hidden w-full before:absolute before:bg-purple before:inset-0 before:opacity-0 before:z-[1] hover:before:opacity-90 mt-[1.875rem]">
        <img class="w-full" src="assets/images/resources/works/2.svg" alt="Guest App Walkthrough Screens"
            loading="lazy">
        <div class="portInfo absolute inset-0 z-[1]">
            <span
                class="bg-primary text-white text-[14px] py-[3px] px-[10px] rounded-b-[.9375rem] left-5 absolute -top-[1.875rem] group-hover:top-0 opacity-0 group-hover:opacity-100 z-10">Creative</span>
            <h3
                class="px-5 text-white text-xl leading-tight font-bold top-[3.75rem] absolute left-0 translate-y-[1.875rem] group-hover:translate-y-0 opacity-0 group-hover:opacity-100">
                Guest App Walkthrough Screens</h3>
            <a class="rounded-circle bg-primary2 text-xl leading-none inline-flex items-center justify-center h-10 w-10 absolute left-5 bottom-5 hover:bg-primary text-white rounded-full opacity-0 group-hover:opacity-100 cursor-pointer"
                data-src="#workDialog" data-caption="Guest App Walkthrough Screens" data-fancybox
                title="Guest App Walkthrough Screens"><i class="icon-options"></i></a>
        </div><!-- Portfolio Info -->
    </div><!-- Portfolio Box -->
</div>
<div class="px-[.9375rem] portItem basis-full md:basis-1/2 lg:basis-1/3 w-full md:w-1/2 lg:w-1/3 branding">
    <div
        class="portBox darkShadow group relative rounded-[10px] md:rounded-[1.25rem] overflow-hidden w-full before:absolute before:bg-purple before:inset-0 before:opacity-0 before:z-[1] hover:before:opacity-90 mt-[1.875rem]">
        <img class="w-full" src="assets/images/resources/works/3.svg" alt="Delivery App Wireframe" loading="lazy">
        <div class="portInfo absolute inset-0 z-[1]">
            <span
                class="bg-primary text-white text-[14px] py-[3px] px-[10px] rounded-b-[.9375rem] left-5 absolute -top-[1.875rem] group-hover:top-0 opacity-0 group-hover:opacity-100 z-10">Branding</span>
            <h3
                class="px-5 text-white text-xl leading-tight font-bold top-[3.75rem] absolute left-0 translate-y-[1.875rem] group-hover:translate-y-0 opacity-0 group-hover:opacity-100">
                Delivery App Wireframe</h3>
            <a class="rounded-circle bg-primary2 text-xl leading-none inline-flex items-center justify-center h-10 w-10 absolute left-5 bottom-5 hover:bg-primary text-white rounded-full opacity-0 group-hover:opacity-100 cursor-pointer"
                data-src="https://www.youtube.com/watch?v=qf9z4ulfmYw" data-caption="Delivery App Wireframe"
                data-fancybox title="Delivery App Wireframe"><i class="icon-camrecorder"></i></a>
        </div><!-- Portfolio Info -->
    </div><!-- Portfolio Box -->
</div>